---
import MainMenuLayout from "../layouts/MainMenuLayout.astro";
import { Image } from 'astro:assets';
---

<MainMenuLayout title="Blodroed Portfolio" 
				seoTitle="Homepage, Blodroed Portfolio" 
				seoDesc="Software engineer with expertise in .NET, C++, C# and Backend, also a DnD DM!!">
	
	<div id="welcome-info" class="w-8/12 md:w-6/12 mx-auto mb-5 border-b-2 border-slate-500 border-opacity-50">
		<h1 class="text-xl md:text-2xl lg:text-2xl text-left flex flex-col lg:flex-row items-center justify-center mb-5">
			<span class="order-2 lg:order-1">Hello Humanling, I am...
				<span style="text-shadow: 0px 0px 40px rgba(96, 165, 250, 0.35);" class="text-5xl md:text-6xl lg:text-7xl text-blue-400 font-bold">Blodroed</span>
				<span class="text-xl text-blue-500 block">> Data Engineering Student</span>
			</span>
			<img src="/profile-pic.png" 
				 style="box-shadow: 0 0 40px rgba(96, 180, 250, 0.35);" 
				 alt="Blodroed's avatar" 
				 class="order-1 lg:order-2 ml-0 lg:ml-16 xl:ml-36 mb-5 lg:mb-0 w-[15rem] h-[15rem] md:w-[20rem] md:h-[20rem] lg:w-[23rem] lg:h-[23rem] rounded-full object-cover">
		</h1>
	</div>

	<div id="card-box" class="w-8/12 mx-auto mb-5">
		<p class="text-sm text-center lg:text-left whitespace-pre-line">SHREK
			Once upon a time there was a lovely 
			princess. But she had an enchantment 
			upon her of a fearful sort which could 
			only be broken by love's first kiss. 
			She was locked away in a castle guarded 
			by a terrible fire-breathing dragon. 
			Many brave knights had attempted to 
			free her from this dreadful prison, 
			but non prevailed. She waited in the 
			dragon's keep in the highest room of 
			the tallest tower for her true love 
			and true love's first kiss. (laughs) 
			Like that's ever gonna happen. What 
			a load of - (toilet flush)
		</p>
	</div>
</MainMenuLayout>