---
---

<footer class="text-center mt-auto py-4 w-full">
  <small>Copyright © <span id="copyright"></span> | <a href="/privacy" class="hover:underline">Privacy Policy</a> | All rights reserved</small>
</footer>

<script>
    document.querySelector('#copyright').textContent = new Date().getFullYear().toString();
</script>