---
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
---

<header class="md:flex p-5 gap-5 mb-5">
    <Astronav>
        <div class="flex w-full justify-between">
            <a href="/">Blodroed's portfolio</a>
            <div class="block md:hidden"><MenuIcon class="w-4 h-4 text-white"/></div>
        </div>
        <MenuItems class="hidden md:flex">
            <ul class="flex flex-col md:flex-row md:gap-5">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </MenuItems>
    </Astronav>
</header>