<div class="my-auto mx-auto px-4 max-w-4xl sm:px-6 lg:px-8 flex flex-col justify-center items-center text-center">
    <img class="w-56" src="/images/construction.png" alt="">
    <h1 class="text-xl text-blue-400 font-semibold border-gray-900 px-4 pb-2">This site is currently under construction</h1>
</div>