---
import MainHead from './MainHead.astro';
import Nav from '../components/nav.astro';
import Footer from '../components/Footer.astro';

const { title, seoDesc, seoTitle } = Astro.props;
---

<html>
    <MainHead title={title} seoTitle={seoTitle} seoDesc={seoDesc}/>
    <body class="bg-slate-950 text-white flex flex-col min-h-screen">
        <div class="container mx-auto my-2 border border-slate-700 border-opacity-70 bg-slate-900 rounded-lg flex flex-col flex-grow">
            <Nav />
            <div class="flex-grow m-2">
                <slot />
            </div>
            <Footer />
        </div>
        <style>
            body {
                font-family: 'Cascadia Code';
                margin: 0;
                padding: 0;
                min-height: 100vh;
            }
        </style>
    <script type="text/javascript">
    (() => {
        const name = 'outbound-link-click';
        document.querySelectorAll('a').forEach(a => {
        if (a.host !== window.location.host && !a.getAttribute('data-umami-event')) {
            a.setAttribute('data-umami-event', name);
            a.setAttribute('data-umami-event-url', a.href);
        }
        });
    })();
    </script>
    </body>
</html>