---
import { SEO } from "astro-seo";

const { title, seoTitle, seoDesc } = Astro.props;
---

<head>
    <SEO title={seoTitle} description={seoDesc} />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <link href="https://fonts.cdnfonts.com/css/cascadia-code" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script defer src="https://analytics.blodroed.com/script.js" data-website-id="dc37867f-6738-427a-bb84-e1fee732b219"></script>
</head>